<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %-40.-40logger| %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_MSG_ONLY" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger level="trace" name="com.slavi.math.adjust.LeastSquaresAdjust" additivity="false">
		<appender-ref ref="STDOUT_MSG_ONLY" />
	</logger>
	<logger level="trace" name="com.slavi.math.adjust.LeastSquaresAdjust.measurements" />

	<root level="info">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
