<configuration>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%-5level %-40.-40logger| %msg%n</pattern>
		</encoder>
	</appender>

	<logger level="error" name="com.slavi" />
	<logger level="off"   name="uk.org.lidalia.sysoutslf4j.context" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
