[Desktop Entry]
Encoding=UTF-8
Name=Link to Suresh Venkatasubramanian
Type=Link
URL=http://www.cs.utah.edu/~suresh/web/teaching/computational-geometry/
Icon=text-html
Name[en_US]=0. computaional geometry
