<configuration>
<!-- 	<appender name="my.appender.file" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>log/mylog.log</file>
		<encoder>
			<pattern>%date{dd.MM.yyyy HH:mm:ss.SSS}|%-5level|%-10logger| %msg%n</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.FixedWindowRollingPolicy">
			<fileNamePattern>log/mylog_%i.log</fileNamePattern>
			<minIndex>1</minIndex>
			<maxIndex>4</maxIndex>
		</rollingPolicy>
		<triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
			<maxFileSize>5MB</maxFileSize>
		</triggeringPolicy>
	</appender> -->

	<appender name="my.appender.log" class="ch.qos.logback.core.FileAppender">
		<!-- <file>target/log.log</file> -->
		<file>${user.home}/octave/m.m</file>
		<append>false</append>
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%date{HH:mm:ss.SSS}|%-5level|%-30.-30logger| %msg%n</pattern> -->
			<pattern>%-5level %-40.-40logger| %msg%n</pattern>
		</encoder>
	</appender>

	<appender name="STDOUT_MSG_ONLY" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%msg%n</pattern>
		</encoder>
	</appender>

	<logger level="off"  name="uk.org.lidalia.sysoutslf4j.context" additivity="false" />

<!-- 	<logger name="my.logger.file" level="all" additivity="false">
		<appender-ref ref="my.appender.file" />
	</logger> -->

	<logger level="all" name="LOG" additivity="false">
		<appender-ref ref="my.appender.log" />
	</logger>
	<logger level="all" name="com.slavi.math.adjust.LeastSquaresAdjust.measurements" additivity="false">
		<appender-ref ref="my.appender.log" />
	</logger>
	<logger level="all" name="com.slavi.math.adjust.LeastSquaresAdjust" additivity="false">
		<appender-ref ref="my.appender.log" />
	</logger>
	
	<logger level="error" name="ch.qos.logback.classic.LoggerContext" />

	<logger level="trace" name="com.slavi.ann.test.dataset.MatrixTestData" />
	<logger level="debug" name="com.slavi.ann.test" />
	<logger level="info" name="com.slavi.db.dataloader" />

	<logger level="trace" name="org.eclipse.persistence.logging.sql" />
	<logger level="info"  name="com.slavi.example.logging.Log4J" />
	<logger level="error" name="org.apache.commons.digester" />
	<logger level="error" name="org.apache.commons.beanutils" />
	<logger level="debug" name="org.eclipse.persistence" />
	<logger level="info"  name="org.springframework" />
	<logger level="error" name="Derby" />
	<logger level="error" name="hsqldb.db" />
	<logger level="trace" name="oracle" />
	<logger level="trace" name="p6spy" />
	<logger level="debug" name="org.hibernate.SQL" />
	<logger level="off"   name="org.hibernate.type" />
	<logger level="off"   name="org.hibernate.type.descriptor.sql" />
	<logger level="trace" name="jdbc.spy" />

	<root level="error">
		<appender-ref ref="STDOUT" />
	</root>
</configuration>
